{% load static %}
{% include 'customer_header.html' %}
<div class="container">
    <div class="site-section">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-7 mb-5">
             <center><h3>Change Password</h3></center>



          <form method= "post" action="/customer_change_password/" class="contact-form">
              {% csrf_token %}


            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="password"> Old password</label>
                <input type="password" name="password" id="password" class="form-control"  placeholder="Enter password">
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="new password">new password</label>
                <input type="password" name="newpassword" id="new password"  class="form-control"
                  placeholder=" enter phone number">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Change Password" class="btn btn-primary py-2 px-4">
              </div>
            </div>


          </form>

        </div>
      </div>
    </div>
    </div>

</div>
{% include 'customer_footer.html' %}