{% load static %}
    <div class="footer">
      <div class="container">
        <div class="row footer-inner">

          <div class="col-12 mt-8 text-center copyright">
            <p>
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved by Sai
              </p>
          </div>
        </div>
      </div>
    </div >


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>