{% include 'header.html' %}
{% load static %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-wrap" style="background-image: url('{% static 'images/athletes.png' %}');" data-stellar-background-ratio="0.5">
            <div class="hero-contents">
              <h2>Team after Training</h2>
              <p> builds your personality and teaches you to live life in a better way. Getting involved in such activities teaches good values, ethics, and skills in your life. The person starts to have a positive outlook towards life and can easily deal with obstacles in their life.</p>
<!--              <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="site-section">-->
<!--      <div class="container">-->
<!--        <div class="col-lg-8 ml-auto">-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">-->
<!--              <div class="custom-media d-flex">-->
<!--                <div class="img-wrap mr-3">-->
<!--                  <a href="#"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid"></a>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="caption">Latest News</span>-->
<!--                  <h3><a href="#">Roman Greg scorer 4 goals</a></h3>-->
<!--&lt;!&ndash;                  <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">-->
<!--              <div class="custom-media d-flex">-->
<!--                <div class="img-wrap mr-3">-->
<!--                  <a href="#"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid"></a>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="caption">Team</span>-->
<!--                  <h3><a href="#">Line for the upcoming match</a></h3>-->
<!--&lt;!&ndash;                  <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          
        </div>
      </div>

      <a href="#"></a>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2 class="section-title">Our Indian Players</h2>
          </div>
          <div class="col-6 text-right">
            <a href="#" class="custom-prev js-custom-prev-v2">Prev</a>
            <span class="mx-2">/</span>
            <a href="#" class="custom-next js-custom-next-v2">Next</a>
          </div>
        </div>

        <div class="owl-4-slider owl-carousel">
          <div class="item player">
            <a href="#"><img src="{% static 'images/virat kohli.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>virat kohli</h3>
              <p>Cricketer</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/pradeep narwal.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>pradeep narwal</h3>
              <p>Kabaddi</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/mary-kom.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>Mary Kom</h3>
              <p>Boxer</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/abhishek verma.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>Abishek Verma</h3>
              <p>archery</p>
            </div>
          </div>

          <div class="item player">
            <a href="#"><img src="{% static 'images/SACHIN.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>Sachin Tendulkar</h3>
              <p>cricketer</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/neeraj Chopra.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>Neeraj Chopra</h3>
              <p>Jawling</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/mika singh.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>Milka Singh</h3>
              <p>Runner</p>
            </div>
          </div>
          <div class="item player">
            <a href="#"><img src="{% static 'images/ms dhoni.png' %}" alt="Image" class="img-fluid"></a>
            <div class="p-4">
              <h3>MS Dhoni</h3>
              <p>Cricketer</p>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-center mb-2">
          <div class="col-6">
            <h2 class="section-title">Team Gallery</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_1.jpg" data-fancybox="gal"><img src="{% static 'images/boxing.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_2.jpg" data-fancybox="gal"><img src="{% static 'images/cricket.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_3.jpg" data-fancybox="gal"><img src="{% static 'images/football.png' %}" alt="Image" class="img-fluid"></a>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_4.jpg" data-fancybox="gal"><img src="{% static 'images/boxing.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_5.jpg" data-fancybox="gal"><img src="{% static 'images/flag.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_1.jpg" data-fancybox="gal"><img src="{% static 'images/jawlin.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_2.jpg" data-fancybox="gal"><img src="{% static 'images/kabaddi.png' %}" alt="Image" class="img-fluid"></a>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <a href="images/img_3.jpg" data-fancybox="gal"><img src="{% static 'images/batmint.png' %}" alt="Image" class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row align-items-center mb-2">
          <div class="col-6">
            <h2 class="section-title">Events</h2>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
            <div class="custom-media d-block">
              <div class="img-wrap mb-3">
                <a href="#"><img src="{% static 'images/8.png' %}" alt="Image" class="img-fluid"></a>
              </div>
              <div>
<!--                <span class="caption">May 19, 2020</span>-->
<!--                <h3><a href="#">Roman Greg scorer 4 goals</a></h3>-->
<!--                <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>-->
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
            <div class="custom-media d-block">
              <div class="img-wrap mb-3">
                <a href="#"><img src="{% static 'images/7.png' %}" alt="Image" class="img-fluid"></a>
              </div>
              <div>
<!--                <span class="caption">May 19, 2020</span>-->
<!--                <h3><a href="#">Line for the upcoming match</a></h3>-->
<!--                <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>-->
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
            <div class="custom-media d-block">
              <div class="img-wrap mb-3">
                <a href="#"><img src="{% static 'images/10.png' %}" alt="Image" class="img-fluid"></a>
              </div>
              <div>
<!--                <span class="caption">May 19, 2020</span>-->
<!--                <h3><a href="#">Roman Greg scorer 4 goals</a></h3>-->
<!--                <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>-->
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
            <div class="custom-media d-block">
              <div class="img-wrap mb-3">
                <a href="#"><img src="{% static 'images/11.png' %}" alt="Image" class="img-fluid"></a>
              </div>
              <div>
<!--                <span class="caption">May 19, 2020</span>-->
<!--                <h3><a href="#">Roman Greg scorer 4 goals</a></h3>-->
<!--                <p class="mb-0"><a href="#" class="more"><span class="mr-2">+</span>Learn More</a></p>-->
              </div>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 text-center">
<!--            <a href="#" class="btn btn-primary py-3 px-4">View All Events</a>-->
          </div>
        </div>
      </div>
    </div>

{% include 'footer.html' %}